/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200&family=Open+Sans:wght@600&display=swap');

/* css variables */
:root {
    /* #017aff (blue) */
    --primary-color: rgb(45, 60, 80);
    /* #deedff (pale blue) */
    --secondary-color: hsl(213, 100%, 96%);
    --font-color: hsl(214, 76%, 5%);
    --padding: 0.5em;
    --wide-padding: 2em;
}

/* wildcard */
* {
    /* set the border to not effect box sizing */
    box-sizing: border-box;
    /* reset margin and padding for everything */
    margin: 0;
    padding: 0;
    /* #elementswithoutborders */
    border: none;
    /* font reset and color */
    font-size: 1em;
    color: var(--font-color);
}

/* elements */
body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--secondary-color);
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    /* Overide for headers */
    font-family: 'Encode Sans', sans-serif;
    
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
    
}

h3 {
    font-size: 2em;
    
}

h4 {
    font-size: 1.5em;
    
}

hr {
    border: 1px solid black;
    background-color: rgb(0, 0, 0, 0);
}

a, a:active, a:visited, a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: -3em;
    height: 100vh;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: var(--padding);
    border-right: 1px rgb(0, 0, 0,0.2) solid;
    box-shadow: 0.5em 0 1em rgba(0, 0, 0, 0.3);
    transition: ease-in 0.2s;
}
nav:hover{
    left: 0;
}
nav:after{
    content: attr(title);
    position: absolute;
    left: -6em;
    opacity: 0;
    transition: all 0.3s;
    font-family: 'Encode Sans', sans-serif;
    font-size: 2em;
    color: white;
    background-color: var(--primary-color);
    padding: 1em;
    border: 0.1em solid var(--secondary-color);
}
nav:hover:after{
    left: 4em;
    opacity: 1;
}

nav a {
    display: flex;
    font-size: 2.5em;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: calc(var(--padding)/4);
    margin-bottom: calc(var(--padding)/2);
    border: 0.1em solid var(--secondary-color);
    filter: brightness(0.7);
    transition: filter 0.3s;
}

nav a:hover {
    filter: brightness(1.25);
}

nav a:hover:after {
    position: absolute;
    font-size: 14pt;
    content: attr(title);
    margin-left: 4em;
    border-radius: 3px;
    box-shadow: 0.1em 0.1em 0.5em rgb(0, 0, 0, 0.5);
    padding: calc(var(--padding)/2);
    background-color: var(--secondary-color);
    z-index: 9000;
}

/* Classes */

/* remix icons */
.remix {
    width: 64px;
    height: 64px;
    fill: var(--secondary-color);
}

.brand-header {
    background-color: var(--primary-color);
    z-index: 20;
    position: fixed;
    top: 0;
    left: 6em;
    width: 100%;
}

.brand {
    color: white;
}

.main{
    padding: 6em;
    padding-left: 8em;
}

.container {
    padding: var(--padding);
}